STATEMACHINE {{statemachine|lower}}
{%- for line in comment %}
  "{{line}}"
{%- endfor %}
{
{%- if outputs is defined %}
  OUTPUT {{ outputs|join(', ') }};
{%- endif %}
  STATES
{%- for state in states|sort(case_sensitive=True) %}
    {{state}}
  {%- if 'flags' in states[state] %}({{states[state]['flags']|join(',')}}){%endif%}
    {%- if 'comment' in states[state] %}
      {%- if states[state]['comment']|count == 1 %} "{{states[state]['comment']|first}}"
      {%- else %}
        {%- for comment in states[state]['comment'] %}
      "{{comment}}"
        {%- endfor %}
      {%- endif %}
    {%- else %} "No Comment"
    {%- endif %}
  {%- if loop.last %};{%- else %},{%- endif %}
{%- endfor %}
  EVENTS
{%- for event in events|sort(case_sensitive=True) %}
    {{event}}
  {%- if 'comment' in events[event] %}
{%- if events[event]['comment']|count == 0 %} "No Comment"{% endif%}
    {%- if events[event]['comment']|count == 1 %} "{{events[event]['comment']|first}}"
    {%- else %}
      {%- for comment in events[event]['comment'] %}
        "{{comment}}"
      {%- endfor %}
    {%- endif %}
  {%- else %} "No Comment"
  {%- endif %}
{%- if loop.last %};{%- else %},{%- endif %}
{%- endfor %}
  ACTIONS
{%- for action in actions|sort(case_sensitive=True) %}
    {{action}}
  {%- if actions[action]['comment'] is defined %}
    {%- if actions[action]['comment']|count == 1 %} "{{actions[action]['comment']|first}}"
    {%- else %}
      {%- for comment in actions[action]['comment'] %}
        "{{comment}}"
      {%- endfor %}
    {%- endif %}
  {%- else %} "No Comment"
  {%- endif %}
{%- if loop.last %};{%- else %},{%- endif %}
{%- endfor %}

{%- set NL='' %}
{%- for state in states|sort(case_sensitive=True) %}
  {%- if transactions[state] is defined %}

  State {{state}} {
    {%- for event in events|sort(case_sensitive=True) %}
      {%- if transactions[state][event] is defined %}
    {{ event }}
        {%- if transactions[state][event]['actions']|count -%}
            {{NL}} -> {{ transactions[state][event]['actions']|join(', ') }}
        {%- endif -%}
        {%- if transactions[state][event]['events']|count -%}
          {{NL}} --> {{ transactions[state][event]['events']|join(', ') }}
        {%- endif -%}
        {%- if transactions[state][event]['states']|count > 0 -%}
          {{NL}} => {{ transactions[state][event]['states']|join(', ') }}
        {%- endif %};
      {%- endif %}
    {%- endfor %}
  }
  {%- endif %}
{%- endfor %}

{%- for action in actions|sort %}
  {%- if action in Code %}

  CODE {{Code[action].type}} {{action}} {
  {%- for item in Code[action].text|sort %}
    @{{item[0]}}
    {%- for line in item[1] %}
{{line}}
    {%- endfor %}
    @END
  {%- endfor %}
  }
  {%- endif %}
{%- endfor %}

{%- if tests is defined %}
{%- for test in tests %}

  Test
  {%- for item in test %}
{%- if loop.first %} {{item}}{% else %}
    {{item}}{%- endif %}
{%- if loop.last %};{% else %},{%- endif %}
{%- endfor %}
{%- endfor %}
{%- endif %}
}
